.gallery_ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0 5%;

}

.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5,
.gallery-6,
.gallery-7,
.gallery-8,
.gallery-9,
.gallery-10,
.gallery-11,
.gallery-12 {
    border: 2px solid tomato;
    width: 95%;
    height: 300px;
    margin-bottom: 50px;
}