@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Wix Madefor Text', sans-serif;
    background-color: #fff;
    overflow-x: hidden
}


header {
    background-color: #0c055b;
    padding-block: 5px;
    padding-left: 6%;
    padding-right: 6%;
}

.slogan {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.slogan li {
    margin: 5px;
}

.media a {
    color: #fff;
    margin: 5px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
}


.navbar .nav-link,
.navbar .dropdown-item {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.navbar-logo {
    width: 80px;
    height: 80px;
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

   .navbar-toggler {

       border: none;
       outline: none;
       box-shadow: none;
       color: #508ace;
      
   }
   .navbar-toggler:focus,
   .navbar-toggler:hover {
    outline: none;
        box-shadow: none;
   }

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.core {
    padding: 0 5%;
    margin-block: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;

}

.one {
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5%;
    text-align: center;
}

.one h1 {
    color: #508ace;
}

.one_ {
    background-color: #508ace;
    color: #fff;
}

.one_ h1 {
    color: #fff;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: left;
}

.values h1 {
    width: 100%;
    color: #508ace;
}

.welcome {
    padding: 0 5%;
    padding-block: 50px;
    background-color: #508ace;
    color: #fff;
    margin-bottom: 50px;
}

.welcome_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    text-align: justify;   
}

.welcome_text h1 {
    width: 100%;
    text-align: left;
}

.btn_ {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: left;
    align-items: flex-start;
}

.btn_ button {
    padding: 15px 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: left;
    align-items: left;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.btn_ button a {
    text-decoration: none;
    color: #508ace;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
    margin-bottom: 50px;
}

.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    width: 95%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url("./images/cover.jpg");
    /* Set a specific height */
    min-height: 250px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
    padding-block: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.para h1 {
    color: #fff;
    width: 100%;
    text-align: center;
}

.contact {
    padding: 0 5%;
    margin-block: 50px;
}

.get {
    display: block;
}

.touch {
    padding: 30px;
    background-color: #5799cd;
    margin-top: 40px;
    color: #fff;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.touch a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #8d8d8d;
    background-color: #508ace;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding-bottom: 30px;
}

footer a:hover {
    font-weight: 900;
}

.footer-image {
    height: 100px;
    width: 200px;
    background-image: url(./images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer-link {
    margin-bottom: 20px;
}

.cta-section {
    padding-block: 50px;
    width: 60%;
    margin: 0 20%;
    margin-bottom: 50px;
    background-color: #dfe9f4;
    border-radius: 5px;
}

.cta-section button {
    padding: 15px 45px;
    border: none;
    background-color: #508ace;
    border-radius: 5px;
}

.cta-section button a {
    text-decoration: none;
    color: #fff;
}


@media (max-width:1000px) {
    .core {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

    }

    .grid {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

    }

    .values {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .values h1 {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .one {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .keys {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 30px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .welcome_img {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-bottom: 30px;
    }

    .welcome_text {
        width: 100%;
    }

    .cta-section {

        margin: 0;
        width: 90%;
        margin: 0 5%;
        margin-bottom: 50px;

    }

    .contact,
    .map,
    .get,
    .touch {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .touch{
        margin-top: 40px;
    }
    .get{
        margin-bottom: 50px;
    }
}